
<div class="input-group-btn dropdown-container" ng-class="{ open: listVisible }">
	<button type="button" class="btn btn-default dropdown-toggle dropdown-display" ng-click="show();" ng-class="{ clicked: listVisible }">
		<span ng-if="!isPlaceholder">{{display}}</span>
		<span class="placeholder" ng-if="isPlaceholder">{{placeholder}}</span>
		<i class="fa fa-angle-down"></i>
	</button>
	<ul class="dropdown-menu">
        <li ng-repeat="item in list" ng-click="select(item)" ng-class="{ active: isSelected(item) }" ng-if="item.search">
            {{property !== undefined ? item[property] : item}}
        </li>
	</ul>
</div>
