<!doctype html>
<html ng-app="movieApp">
<head>
<meta charset="utf-8">
<title> TV Series</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">  
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">  
</head>

<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><img width="117" height="30" src="/assets/img/angularjs-for-header-only.svg" alt="AngularJS"></a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">HOME</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div ng-view></div>
<footer>
    <div class="footer"></div>
</footer>
</body> 
<script src="/assets/js/angular.js"></script>
<script src="/assets/js/angular-route.js"></script>
<script src="/assets/js/angular-resource.js"></script>
<script src="/assets/js/angular-sanitize.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/routes.js"></script>
<script src="/assets/js/filters.js"></script>
<script src="/assets/js/directives.js"></script>
<script src="/assets/js/services.js"></script>
<script src="/assets/js/controllers.js"></script>
</html>
